<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_incidentes</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Otras propiedades de configuración -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <!-- Otros mapeos y configuraciones -->
        <mapping class = "Entidades.Usuario"/>
        <mapping class = "Entidades.RolUsuario"/>
        <mapping class = "Entidades.Cliente"/>
        <mapping class = "Entidades.Tecnico"/>
        <mapping class = "Entidades.Servicio"/>
        <mapping class = "Entidades.TipoProblema"/>
        <mapping class = "Entidades.Incidente"/>
        <mapping class = "Entidades.Especialidad"/>
        <mapping class = "Entidades.MedioComunicacion"/>
          
    </session-factory>

</hibernate-configuration>

